# Copyright 2018 Xaptum, Inc.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#        http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License
sudo: required

language: c

services:
  - docker

env:
  global:
    - USE_XTT=OFF
    - COMPILER=/usr/bin/gcc

before_script:
  - pushd ${TRAVIS_BUILD_DIR}/.docker
  - make
  - popd

script:
  - docker run -v $(pwd):/enftun/ -d -t --name enftun xaptum/enftun:0.1.0
  - docker exec -it enftun bash -c "cd enftun && mkdir -p build"
  - docker exec -it enftun bash -c "apt-cache policy libconfig9"
  - docker exec -it enftun bash -c "cd enftun/build && cmake .. -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_C_COMPILER=${COMPILER} -DBUILD_XTT=${USE_XTT}"
  - docker exec -it enftun bash -c "cd enftun/build && make"

matrix:
  include:
    - name: "Release build, gcc"
      env:
        - TYPE=RELEASE
        - BUILD_TYPE=Release
    - name: "Release build with XTT, gcc"
      env:
        - TYPE=RELEASE
        - BUILD_TYPE=Release
        - USE_XTT=ON
    - name: "Debug build, gcc"
      env:
        - TYPE=DEBUG
        - BUILD_TYPE=Debug
    - name: "Debug build with XTT, gcc"
      env:
        - TYPE=DEBUG
        - BUILD_TYPE=Debug
        - USE_XTT=ON
    - name: "Dev build, gcc"
      env:
        - TYPE=DEV
        - BUILD_TYPE=Dev
    - name: "Dev build with XTT, gcc"
      env:
        - TYPE=DEV
        - BUILD_TYPE=Dev
        - USE_XTT=ON
    - name: "DevDebug build, gcc"
      env:
        - TYPE=DEBUG
        - BUILD_TYPE=DevDebug
    - name: "DevDebug build with XTT, gcc"
      env:
        - TYPE=DEBUG
        - BUILD_TYPE=DevDebug
        - USE_XTT=ON
    - name: "Release build, clang"
      env:
        - TYPE=RELEASE-WITH-CLANG
        - BUILD_TYPE=Release
        - COMPILER=/usr/bin/clang
    - name: "Release build with XTT, clang"
      env:
        - TYPE=RELEASE-WITH-CLANG
        - BUILD_TYPE=Release
        - USE_XTT=ON
        - COMPILER=/usr/bin/clang
    - name: "Sanitize build, clang"
      sudo: true
      env:
        - TYPE=SANITIZE
        - BUILD_TYPE=RelWithSanitize
        - COMPILER=/usr/bin/clang
    - name: "Sanitize build with XTT, clang"
      sudo: true
      env:
        - TYPE=SANITIZE
        - BUILD_TYPE=RelWithSanitize
        - USE_XTT=ON
        - COMPILER=/usr/bin/clang
