[Unit]
Description=TUN device %I
After=network.target
After=xtt@%I.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/sbin/ip tuntap add mode tun %I
ExecStart=/sbin/ip link set dev %I mtu 1280 up

ExecStart=/bin/bash -c "ip -6 addr add $(cat /etc/enftun/%I/ip.txt)/128 dev %I"

ExecStart=/sbin/ip -6 route add default dev %I
ExecStart=/sbin/ip -6 route add ff00::/8 dev %I metric 100 table local

ExecStop=/sbin/ip tuntap del mode tun %I

[Install]
WantedBy=multi-user.target
